body{
	background-color: blue;	
}
p{
	color:red;
	font-family: Verdana, sans-serif;
	font-size: 50px;
	font-weight: 500;
	font-style: italic;
	text-align: center;
	text-shadow: 44px 32px 9px black;
}
#heart_pic{
	position: absolute;
	margin-left: 45%;
	margin-right: 50%;
}